<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.edusoho.baijiayun">


    <application
        android:allowBackup="true"
        tools:replace="android:allowBackup">

        <activity
            android:name=".ChooseActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>
</manifest>
