<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.edusoho.yunketang">

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 扫一扫，震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 扫一扫，打开摄像头 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="com.edusoho.yunketang.SYApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.edusoho.yunketang.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files_root" />
        </provider>

        <!-- 应用页面设置使用刘海区显示 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <meta-data
            android:name="notch.config"
            android:value="portrait" />
        <!-- 微信支付 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 微信分享 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- UCrop -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name="com.edusoho.yunketang.ui.launcher.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.edusoho.yunketang.ui.launcher.GuideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.edusoho.yunketang.ui.MainTabActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.edusoho.yunketang.ui.login.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.edusoho.yunketang.ui.login.RegisterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.edusoho.yunketang.ui.course.CourseDetailsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateVisible|adjustPan|stateHidden" />

        <activity
            android:name="com.edusoho.yunketang.ui.course.CoursePlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.edusoho.yunketang.ui.common.ValidateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentFullScreenTheme" />

        <activity
            android:name=".ui.common.ShareActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentFullScreenTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

        <activity
            android:name="com.edusoho.yunketang.ui.course.CourseEvaluateActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.edusoho.yunketang.edu.order.confirm.ConfirmClassOrderActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:taskAffinity=":finishOrder" />

        <activity
            android:name="com.edusoho.yunketang.edu.order.confirm.ConfirmOrderActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:taskAffinity=":finishOrder" />

        <activity
            android:name="com.edusoho.yunketang.edu.order.payments.PaymentsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:taskAffinity=":finishOrder" />

        <activity
            android:name="com.edusoho.yunketang.edu.order.alipay.AlipayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:taskAffinity=":finishOrder" />

        <activity
            android:name="com.edusoho.yunketang.edu.WebViewActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.edusoho.yunketang.ui.common.CaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.edusoho.yunketang.ui.classes.CourseworkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.edusoho.yunketang.ui.classes.ClassScheduleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.edusoho.yunketang.ui.testlib.PracticeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.edusoho.yunketang.ui.testlib.PastExamActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.edusoho.yunketang.ui.testlib.MyFaultsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.edusoho.yunketang.ui.testlib.AnswerReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.edusoho.yunketang.ui.exercise.ExerciseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.edusoho.yunketang.ui.me.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.edusoho.yunketang.ui.me.MyCollectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.edusoho.yunketang.ui.me.MyStudyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.edusoho.yunketang.ui.me.PersonalInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.edusoho.yunketang.ui.me.MyIngotActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.edusoho.yunketang.ui.me.MyBoughtExamActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.edusoho.yunketang.ui.me.MyBoughtVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.edusoho.yunketang.ui.classes.MyMessageActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>